.navheader{
    background: #63B9C9;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navheader-menus{
    font-weight: 900;
    font-size: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.navheader-menus > p{
    margin: 0;
    margin: 0 5px;
}

@media only screen and (max-width: 550px) {
    .navheader-menus{
        font-size: 2vh;
    }
}

@media only screen and (max-width: 350px) {
    .navheader-menus{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}