/* ***********************
* general css 
**************************/

.navheader{
    height: max-content;
    width: 100vw;
    position: fixed;
    top: 0;
}

.text{
    margin: 0;
}

.logo{
    height: auto;
    width: auto;
    max-height: 100%;
}

/* ***********************
* CSS to devices > 450px 
**************************/
@media (min-width: 451px) {
    .navheader_menus{
        height: 5rem;
        width: 100%;
        font-weight: 900;
        font-size: 14pt;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    @media (max-width: 550px) {
        .navheader_menus{
            font-size: 12pt;
        }
    }
    
}


/* ***********************
* CSS to devices <= 450px 
**************************/
@media (max-width: 450px) {
    .navheader_menus_drop{
        padding: 10px 25px;
        height: 4rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border: none;
    }
    
    .menu_icon{
        font-size: 18pt;
        color: black;
        padding: 0 6px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px black solid;
    }
    
    .menu_icon:hover{
        opacity: 0.7;
        background-color: rgba(17, 17, 17, 0.219);
    }

    .text{
        padding: 0 10px;
    }

    .text:hover{
        cursor: pointer;
    }
}