.home {
    width: 100%;
    height: calc(100vh - 80px);
}

.home-head{
    background: #63B9C9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;
}

.home-head-foto{
    min-height: 115%;
    margin-right: 20px;
}

.home-head-text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-head-text > p, .home-head-text>div>div>p{
    margin: 0;
}

.home-head-title{
    font-weight: 900;
    font-size: xx-large;
}

.home-head-subtitle{
    font-weight: 700;
    font-size: medium;
}

.home-head-info{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.home-head-info-1{
    margin-right: 5px;
    font-weight: 600;
    color: rgba(49, 49, 49, 0.582);
}

.home-head-info-2{
    margin-left: 5px;
    font-weight: 700;
}

.home-head-redes{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 45%;
}

.home-head-redes-icon{
    width: 20px;
    height: 20px;
}
