.App{
    min-height: 100vh;
    height: 100%;
    width: 100%;
}


.bg_color_main{
    background: #63B9C9;
}

.bg_hover{
    background-color: #63bac960;
}

.mt_nav{
    margin-top: 5rem;
}

/* ***********************
* CSS to devices > 450px 
**************************/
@media (min-width: 451px) {
    
}


/* ***********************
* CSS to devices <= 450px 
**************************/
@media (max-width: 450px) {
    .mt_nav{
        margin-top: 4rem;
    }
}